body {
    #display: grid;
    justify-content: center;
    background-color: #696773;
    padding-top: 50px;
    font-family: "Courier New", serif;
}

.center-container {
    display: grid;
    justify-content: center;
}

.table {
    background-color: #EFF1F3;
}

#table-container {

}

.navbar-container {
    width: 1300px;
    background-color: #272727;
    color: #EFF1F3;
}

.header-container {
    margin: 20px 0px 20px 0px;
}

#table-header {
    background-color: #009FB7;
}