body {
    /*display: grid;*/
    justify-content: center;
    background-color: #696773;
    padding-top: 50px;
    font-family: "Courier New", serif;
}

ul {
    padding: 0 0 0 0;
}

li {
    list-style: none;
}

a {
    color:  #009FB7;
}

/*.center-container {*/
/*    display: grid;*/
/*    justify-content: center;*/
/*}*/

.table {
    background-color: #EFF1F3;
}

.btn {
    color: #272727;
    background-color: #FED766;
}

.btn:hover {
    transition-duration: .5s;
    background-color: #ffc83c;
}

.container {
    background-color: #272727;
    color: #EFF1F3;
}
.header-container {
    margin: 20px 0px 20px 0px;
}

.chosen-food {
    background-color: #272727;
    color: #EFF1F3;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    border-radius: 3px;
}

#brand-link {
    color: #EFF1F3;
}

#brand-link:hover {
    transition-duration: 1s;
    color: #009FB7;
}

#choice-explanation {
    background-color: #272727;
    color: #EFF1F3;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    border-radius: 3px;
}

#table-header {
    background-color: #009FB7;
}

#explanation-column {
    /*background-color: #EFF1F3;*/
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

@media (max-width: 991px) {

    .container {
        margin: auto 0 auto 0;
        width: auto;
    }

    .navbar {
        background-color: #272727;
        margin: auto auto 40px auto;
    }

}